@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
}

header img {
    width: 40px;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: #000000;
    position: absolute;
    top: 60px;
    right: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu.show {
    display: flex;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#menu ul li a:hover {
    color: #ccc;
}

#hero {
    background-color: #f2f2f2;
    text-align: start;
    background-image: url("../imagens/img-hero.jpg");
    background-position: center right;
    background-size: cover;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 24px 24px 24px 20px;
}

#hero h1 {
    font-size: 1.3em;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#hero p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: start;
}

#hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: #fff solid 1px;
}

#hero a:hover {
    background-color: #ffffff;
    color: black;
}

#hero>a>span {
    margin-left: 10px;
}

#servicos {
    text-align: center;
    scroll-margin-top: 12vh;
}

.box-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5%;
    column-gap: 10px;
    row-gap: 15px;
}

#tit-servicos {
    margin: 20px auto;
}

#servicos img {
    width: 100%;
    border-radius: 10px;
}

#sobre {
    text-align: center;
    background-image: linear-gradient(115deg, #000, #3d3d3d);
    color: white;
    padding: 5px 15px 30px 15px;
    margin: 20px 0;
    font-size: 0.9em;
    scroll-margin-top: 9vh;
}

#sobre h2 {
    margin: 20px auto;
}

#sobre a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

#galeria {
    margin: 0 24px;
    padding: 0px;
    text-align: center;
    margin-bottom: 20px;
    scroll-margin-top: 12vh;
}

#galeria h2 {
    margin-bottom: 0px;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 16px;
    scroll-padding: 10px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slide {
    flex: 0 0 300px;
    height: 200px;
    scroll-snap-align: center;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.259);
    margin: 20px;
}

#clientes-satisfeitos {
    text-align: center;
    margin: 0 20px;
    scroll-margin-top: 11.5vh;
}

.service-box {
    max-width: 75%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: sans-serif;
    margin: 20px auto;
}

.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-content {
    padding: 16px;
}

.client-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #121212;
}

.client-comment {
    font-size: 15px;
    color: #202020;
    line-height: 1.4;
}

footer {
    background-color: #000000;
    color: white;
    padding: 15px;

}

footer ul {
    list-style: none;
}

footer li {
    margin-top: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#tit-link-footer {
    margin-top: 20px;
}

#footer-box-desenvolvidor-by {
    margin-top: 18px;
}

#footer-box-desenvolvidor-by p{
    font-weight: 400;
    margin: 10px 0;
}

#tit-footer-contatos {
    margin-top: 28px;
}

#footer-box-contatos {
    margin-bottom: 30px;
}

#footer-box-contatos p {
    margin-top: 5px;
}

#p-copy {
    text-align: center;
    margin: 35px 0;
    font-size: 0.8em;
}


@media (min-width: 768px) {
    .menu {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        padding: 0;
    }

    .menu-toggle {
        display: none;
    }
}